.admin-invoice-form{

 display:flex;
 flex-direction:column;

 gap:20px;

 max-width:800px;

 margin:auto;

}

.admin-invoice-form input,
.admin-invoice-form select{

 padding:14px;

 border-radius:12px;

 border:none;

 background:#111;

 color:white;

}

.service-list{

 display:grid;

 grid-template-columns:
 repeat(
  auto-fit,
  minmax(220px,1fr)
 );

 gap:15px;

}

.service-item{

 background:#111;

 border-radius:14px;

 padding:15px;

 border:
 1px solid
 rgba(255,0,0,0.2);

}

.invoice-summary{

 margin-top:30px;

 background:#111;

 padding:25px;

 border-radius:20px;

}

.invoice-summary h2{

 color:#ff2b2b;

}

.invoice-preview p,
.invoice-preview h1,
.invoice-preview h2,
.invoice-preview h3,
.invoice-preview td,
.invoice-preview th{

color:#000 !important;

}

.invoice-preview{

margin-top:40px;

background:#ffffff;

color:#000000;

padding:30px;

border-radius:20px;

border:2px solid #e10600;

font-family:Arial,sans-serif;

}

.invoice-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.invoice-logo{

width:120px;

}

.invoice-customer{

display:grid;

grid-template-columns:
repeat(2,1fr);

gap:15px;

margin:25px 0;

}

.invoice-table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

.invoice-table th,
.invoice-table td{

padding:14px;

border:1px solid
rgba(255,255,255,.1);

}

.invoice-table th{

background:#e10600;

color:white;

}

.invoice-total{

margin-top:30px;

text-align:right;

}

.invoice-total h2{

color:#e10600;

font-size:28px;

}